.container-medias h1 {
    font-family: dana;
    font-size: 20px;
    margin: 8px 90px 16px 0px;
}

.container_medias_gallery {
    display: flex;
    justify-content: right;
    width: 80%;
    margin: auto;
    padding: 21px 0px;
}

.meida_box {
    width: 140px;
    position: relative;
    height: 100px;
    margin: 11px;
}

.meida_box_zip {
    width: 140px;
    position: relative;
    height: 100px;
    margin: 11px;
}

.meida_box_zip img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.type_media {
    position: absolute;
    top: 10px;
    right: 15px;
}

.type_media i {
    color: #fff;
}

.meida_box img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 1px 1px 7px 1px #c1c1c1;
    cursor: pointer;
}

.meida_box video {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 1px 1px 7px 1px #c1c1c1;
    cursor: pointer;
}

.info_sideBar_menu_access {
    background-color: #fff;
    padding: 19px;
    width: 80%;
    margin: auto;
    border-radius: 9px;
    border: 1px solid #dcdcdc;
}

.input_search_media {
    font-family: dana;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    padding: 5px 11px;
    border: 1px solid #747474;
    margin-left: 5px;
}

#SelectFolder {
    font-family: 'dana';
    font-size: 19px;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #7a7a7a;
    margin-right: 5px;
}