.container_panel_user {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: auto;
    margin: 30px;
}

.nav_bar_right {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

.img_cover_panel {
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.img_cover_panel_logo {
    width: 90px;
}

.title_logo_cover_panel {
    font-family: dana;
    font-size: 35px;
    padding-right: 10px;
    font-weight: 900;
}

.list_right_menu_panel {
    margin: 30px 0px 0px 0px;
    padding: 5px;
}

.li_menu_right_panel {
    cursor: pointer;
    font-family: 'dana';
    font-size: 19px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 3px;
    border-radius: 9px;
    width: 100%;
}

.li_menu_right_panel a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.li_menu_right_panel img {
    padding-left: 9px;
}

.body_bar_left {
    background-color: #F3F4F6;
    border-radius: 1rem;
    height: 100%;
    width: 77%;
}

.header_body_bar_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px;
}

.header_body_bar_left_left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    order: 1;
}

.circle_header_left_body img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.circle_header_left_body {
    background-color: #fff;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.circle_header_left_body i {
    display: block;
    margin: 11px;
    font-size: 23px;
    color: #4f4f4f;
}

.header_body_bar_left_right {
    width: 80%;
}

.title_body_left_panel {
    font-family: 'dana';
    font-size: 20px;
    padding-right: 40px;
}


.featears_header_body {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.feather_box {
    width: 150px;
    padding: 11px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'dana';
    cursor: pointer;
}

.feather_box img {
    width: 28px;
    background-color: #ffffff75;
    padding: 7px;
    border-radius: 11px;
}

.txt_featears_box {
    padding-right: 11px;
    font-size: 13px;
}

.txt_featers_box_title {
    padding: 3px 0px;
}

.des_featers_box_title {
    padding: 3px 0px;
}

.bx {
    font-size: 25px;
    padding-left: 9px;
}

#registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    flex: 1;
    max-width: 700px;
    border-radius: 10px;
    background-color: #EFF0F1;
    margin-top: auto;
    margin-bottom: auto;
}

/* FORM HEADER */
.form-header {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}

.form-header h1 {
    font-size: 28px;
    text-align: right;
    color: rgb(46, 213, 115);
    font-family: dana;
}

/* FORM BODY */
.form-body {
    padding: 5px 10px;
}

.row {
    display: flex;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

/* FORM BODY - Gender & Hobbies */
.radio-group,
.checkbox-group {
    display: flex;
}

.radio-group div,
.checkbox-group div {
    flex: 1;
}

.radio-group label,
.checkbox-group label {
    color: #666;
    cursor: pointer;
}

/* FORM BODY - Source of Income & Income */
.range-group {
    display: flex;
}

.range-group input {
    flex: 1;
}

.range-group label {
    margin-left: 10px;
    background-color: #1BBA93;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    text-align: center;
}


/* FORM FOTTER */
.form-footer {
    display: flex;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(46, 213, 115);
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #bcf5e7;
    cursor: pointer;
    font-family: dana;
}

/* INPUT*/

label {
    color: rgb(46, 213, 115);
    font-size: 17px;
    font-weight: 500;
    font-family: dana !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"],
select,
textarea {
    margin-top: 5px;
    font-family: dana;
    width: 100%;
    font-size: 18px;
    height: 34px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

.toast-message {
    font-family: dana;
}

textarea {
    resize: none;
    height: 100px;
}

.toast-message {
    font-family: dana;
}

.btn_back_site {
    text-decoration: none;
    color: #000;
    margin-left: 19px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    border: none;
    font-family: 'dana';
    font-size: 16px;
    padding: 10px 10px;
    width: 175px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 4px #e4e4e4;
}

@font-face {
    font-family: 'dana';
    src: url('../../../assets/fonts/dana-medium.woff') format('woff');
}

;