.container_panel_user {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: auto;
    margin: 30px;
}

.nav_bar_right {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

.img_cover_panel {
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.img_cover_panel_logo {
    width: 90px;
}

.title_logo_cover_panel {
    font-family: dana;
    font-size: 35px;
    padding-right: 10px;
    font-weight: 900;
}

.list_right_menu_panel {
    margin: 30px 0px 0px 0px;
    padding: 5px;
}

.li_menu_right_panel {
    cursor: pointer;
    font-family: 'dana';
    font-size: 19px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 3px;
    border-radius: 9px;
    width: 100%;
}

.li_menu_right_panel a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.li_menu_right_panel img {
    padding-left: 9px;
}

.body_bar_left {
    background-color: #F3F4F6;
    border-radius: 1rem;
    height: 100%;
    width: 77%;
}

.header_body_bar_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px;
}

.header_body_bar_left_left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    order: 1;
}

.circle_header_left_body img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.circle_header_left_body {
    background-color: #fff;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.circle_header_left_body i {
    display: block;
    margin: 11px;
    font-size: 23px;
    color: #4f4f4f;
}

.header_body_bar_left_right {
    width: 80%;
}

.title_body_left_panel {
    font-family: 'dana';
    font-size: 20px;
    padding-right: 40px;
}


.featears_header_body {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.feather_box {
    width: 150px;
    padding: 11px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'dana';
    cursor: pointer;
}

.feather_box img {
    width: 28px;
    background-color: #ffffff75;
    padding: 7px;
    border-radius: 11px;
}

.txt_featears_box {
    padding-right: 11px;
    font-size: 13px;
}

.txt_featers_box_title {
    padding: 3px 0px;
}

.des_featers_box_title {
    padding: 3px 0px;
}

.bx {
    font-size: 25px;
    padding-left: 9px;
}

.container_access_admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    padding: 30px 30px;
}

.container_notifications {
    background-color: rgb(211, 211, 211);
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    border-radius: 9px;
}

.toast-message {
    font-family: dana;
}

.status_notification {
    font-family: dana;
    position: absolute;
    top: -20px;
    cursor: pointer;
    background-color: rgb(46, 213, 115);
    color: #fff;
    padding: 10px;
    font-size: 15px;
    right: -25px;
    border-radius: 5px;
    transform: rotateZ(40deg);
}

.container_notifications img {
    width: 45px;
}

.input_notification {
    border: none;
    font-family: dana;
    font-size: 20px;
    width: 400px;
    background-color: transparent;
    pointer-events: none;
}

.btns_access_notification {}

.btn_edit {
    border: none;
    color: #fff;
    font-family: dana;
    font-size: 15px;
    padding: 6px 13px;
    background-color: rgb(251, 191, 36);
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 15px 0px rgb(251 191 36 / 54%);
}

.btn_enable {
    border: none;
    color: #fff;
    font-family: dana;
    font-size: 15px;
    padding: 6px 13px;
    background-color: rgb(251, 79, 36);
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
    box-shadow: 1px 1px 15px 0px rgb(251, 79, 36);
}

.swal2-popup {
    font-family: dana !important;
}

.swal2-actions button {
    font-family: dana !important;
}

.btn_back_site {
    text-decoration: none;
    color: #000;
    margin-left: 19px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    border: none;
    font-family: 'dana';
    font-size: 16px;
    padding: 10px 10px;
    width: 175px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 4px #e4e4e4;
}

/* clock event */

.container_clock_event {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-top: 30px;
    padding: 30px;
}

.clock_add_event {
    width: 50%;
    display: flex;
    padding: 0px 11px;
    flex-direction: column;
}

.clock_add_event h1 {
    font-family: dana;
    font-size: 21px;
}

.clock_add_event textarea {
    font-family: dana;
    border: none;
    border-radius: 9px;
    font-size: 19px;
    padding: 19px;
}

.contaier_add_clock_inputs {
    font-family: dana;
    margin: 21px 0px;
    display: flex;
    justify-content: space-between;
}

.title_input_clock {
    font-family: dana;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    padding: 9px;
}

.input_date_box {
    font-family: dana;
    height: 28px;
    border: none;
    padding: 10px;
    width: 130px;
    border-radius: 5px;
}

.btn_add_clock {
    font-family: dana;
    background-color: #2ED573;
    box-shadow: 1px 1px 15px 0px #2ED573;
    cursor: pointer;
    border: none;
    padding: 9px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin-top: 19px;
}

.clock_info_event {
    width: 50%;
    padding: 0px 11px;
}

.clock_info_event h1 {
    font-family: dana;
    font-size: 21px;
    margin-bottom: 21px;
}

.container_add_event_clock {}

.list_event_clock {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 9px;
    width: 95%;
    margin: 10px 0px;
    justify-content: space-between;
}

.alert-danger {
    display: flex;
    align-items: center;
    background-color: rgb(255, 227, 150);
    padding: 20px;
    border-radius: 11px;
    border: 1px solid rgb(233, 208, 14);
    width: 85%;
    margin: 0px 0px 20px 0px;
}

.alert-danger span {
    font-family: dana;
    color: #303030;
}

.alert-danger i {
    color: #303030;
    margin-left: 9px;
    font-size: 21px;
    order: -1;
}

.title_event_clock_list {
    font-family: dana;
}

.btn_remove_evet_clock {
    font-family: dana;
    border: none;
    color: #fff;
    font-family: dana;
    font-size: 15px;
    padding: 6px 13px;
    background-color: rgb(251, 79, 36);
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    box-shadow: 1px 1px 15px 0px rgba(251, 79, 36, 0.786);
}

.btn_information_evet_clock {
    font-family: dana;
    border: none;
    color: #fff;
    font-family: dana;
    font-size: 15px;
    padding: 6px 13px;
    background-color: rgb(151, 36, 251);
    border-radius: 5px;
    margin: 0px 5px;
    cursor: pointer;
    box-shadow: 1px 1px 15px 0px rgba(151, 36, 251, 0.764);
}

@font-face {
    font-family: 'dana';
    src: url('../../assets/fonts/dana-medium.woff') format('woff');
}

;