* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px !important;
}

.container_logo {
  display: flex;
  padding: 30px 0px;
}

#logo {
  order: 1;
  width: 105px;
  height: 69px;
}

#wave {
  z-index: -1;
  margin-top: -350px;
}

#logo_text {
  width: 145px;
  height: 70px;
  padding-right: 9px;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 0px 0px 30px 0px;
  place-items: center;
  /* background: rgba(46, 213, 116, 0.564); */
}

::selection {
  background: rgb(46, 213, 115);
  color: #fff;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: -1px 1px 20px 20px rgb(194 194 194 / 22%);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
  font-family: dana;
}

label {
  font-family: dana;
}

.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  font-family: dana;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: rgb(46, 213, 115);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked~.slider-tab {
  left: 50%;
}

#signup:checked~label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}

#signup:checked~label.login {
  color: #000;
}

#login:checked~label.signup {
  color: #000;
}

#login:checked~label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  font-family: dana;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus {
  border-color: rgb(46, 213, 115);
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: #b3b3b3;
}

.form-inner form .pass-link {
  margin-top: 5px;
  font-family: dana;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
  font-family: dana;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: rgb(46, 213, 115);
  text-decoration: none;
  font-family: dana;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
  font-family: dana;
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-family: dana;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: rgb(46, 213, 115);
  border-radius: 5px;
  transition: all 0.4s ease;
  ;
}

form .btn:hover .btn-layer {
  left: 0;
}

form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: dana;
}

.toast-message {
  font-family: dana;
}

@font-face {
  font-family: 'dana';
  src: url('../assets/fonts/dana-medium.woff') format('woff');
}

;