.container_panel_user {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: auto;
    margin: 30px;
}

.nav_bar_right {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

.img_cover_panel {
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.img_cover_panel_logo {
    width: 90px;
}

.title_logo_cover_panel {
    font-family: dana;
    font-size: 35px;
    padding-right: 10px;
    font-weight: 900;
}

.list_right_menu_panel {
    margin: 30px 0px 0px 0px;
    padding: 5px;
}

.li_menu_right_panel {
    cursor: pointer;
    font-family: 'dana';
    font-size: 19px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 3px;
    border-radius: 9px;
    width: 100%;
}

.li_menu_right_panel a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.li_menu_right_panel img {
    padding-left: 9px;
}

.body_bar_left {
    background-color: #F3F4F6;
    border-radius: 1rem;
    height: 100%;
    width: 77%;
}

.header_body_bar_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px;
}

.header_body_bar_left_left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    order: 1;
}

.circle_header_left_body img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.circle_header_left_body {
    background-color: #fff;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.circle_header_left_body i {
    display: block;
    margin: 11px;
    font-size: 23px;
    color: #4f4f4f;
}

.header_body_bar_left_right {
    width: 80%;
}

.title_body_left_panel {
    font-family: 'dana';
    font-size: 20px;
    padding-right: 40px;
}


.featears_header_body {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.feather_box {
    width: 150px;
    padding: 11px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'dana';
    cursor: pointer;
}

.feather_box img {
    width: 28px;
    background-color: #ffffff75;
    padding: 7px;
    border-radius: 11px;
}

.txt_featears_box {
    padding-right: 11px;
    font-size: 13px;
}

.txt_featers_box_title {
    padding: 3px 0px;
}

.des_featers_box_title {
    padding: 3px 0px;
}

.bx {
    font-size: 25px;
    padding-left: 9px;
}

/* chats */

#messages-main {
    position: relative;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.title_page {
    font-family: 'dana';
    font-size: 20px;
    padding-right: 60px;
    margin-bottom: -30px;
    margin-top: 10px;
}

#messages-main:after,
#messages-main:before {
    content: " ";
    display: table;
}

#messages-main .ms-menu {
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #eee;
    padding-bottom: 50px;
    height: 100%;
    width: 240px;
    background: #fff;
}

.bootstrap {
    margin: 60px;
}

@media (max-width:767px) {
    #messages-main .ms-menu {
        height: calc(100% - 58px);
        display: none;
        z-index: 1;
        top: 58px;
    }

    #messages-main .ms-menu.toggled {
        display: block;
    }

    #messages-main .ms-body {
        overflow-y: scroll;
    }
}

#messages-main .ms-user {
    padding: 15px;
    background: #f8f8f8;
}

#messages-main .ms-user>div {
    overflow: hidden;
    padding: 3px 5px 0 15px;
    font-size: 11px;
}

#messages-main #ms-compose {
    position: fixed;
    bottom: 120px;
    z-index: 1;
    right: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
}

#ms-menu-trigger i {
    font-size: 21px;
}

#ms-menu-trigger.toggled i:before {
    content: '\f2ea'
}

.fc-toolbar:before,
.login-content:after {
    content: ""
}

.message-feed {
    padding: 20px;
}

#footer,
.fc-toolbar .ui-button,
.fileinput .thumbnail,
.four-zero,
.four-zero footer>a,
.ie-warning,
.login-content,
.login-navigation,
.pt-inner,
.pt-inner .pti-footer>a {
    text-align: center;
}

.message-feed.right>.pull-right {
    margin-left: 15px;
}

.message-feed:not(.right) .mf-content {
    background: rgb(46, 213, 115);
    color: #fff;
    box-shadow: 1px 1px 5px 4px #e9e9e9a8;
}

.message-feed.right .mf-content {
    background: #eee;
}

.mf-content {
    padding: 12px 17px 13px;
    border-radius: 2px;
    display: inline-block;
    max-width: 80%;
    font-family: dana;
    line-height: 30px;
}

.mf-date {
    display: block;
    color: #B3B3B3;
    margin-top: 7px;
    font-family: dana;
}

.mf-date>i {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: 1px;
}

.msb-reply {
    box-shadow: 0 -20px 20px -5px #fff;
    position: relative;
    margin-top: 30px;
    border-top: 1px solid #eee;
    background: #f8f8f8;
}

.four-zero,
.lc-block {
    box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
}

.msb-reply textarea {
    width: 100%;
    font-size: 13px;
    border: 0;
    padding: 10px 15px;
    resize: none;
    height: 60px;
    background: 0 0;
}

.msb-reply button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    height: 100%;
    width: 60px;
    font-size: 25px;
    color: #2196f3;
    background: 0 0;
}

.msb-reply button:hover {
    background: #f2f2f2;
}

.img-avatar {
    height: 37px;
    border-radius: 2px;
    width: 37px;
}

.list-group.lg-alt .list-group-item {
    border: 0;
}

.p-15 {
    padding: 15px !important;
}

.btn:not(.btn-alt) {
    border: 0;
}

.action-header {
    position: relative;
    background: #f8f8f8;
    padding: 15px 13px 15px 17px;
}

.ah-actions {
    z-index: 3;
    float: right;
    margin-top: 7px;
    position: relative;
}

.actions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.actions>li {
    display: inline-block;
}

.actions:not(.a-alt)>li>a>i {
    color: #939393;
}

.actions>li>a>i {
    font-size: 20px;
}

.actions>li>a {
    display: block;
    padding: 0 10px;
}

.ms-body {
    background: #fff;
    overflow-y: scroll;
    height: 600px;
}

#ms-menu-trigger {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    padding-top: 19px;
    cursor: pointer;
}

#ms-menu-trigger,
.message-feed.right {
    text-align: right;
}

#ms-menu-trigger,
.toggle-switch {
    -webkit-user-select: none;
    -moz-user-select: none;
}

::-webkit-scrollbar {
    width: 0.7vw;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(46, 213, 115);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(46, 213, 115);
}

.box-bottom_replay_message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.img_sending_message {
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

#file_uploading {
    display: none;
}

.box-bottom_replay_message input {
    padding: 10px;
    font-family: 'dana';
    width: 635px;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 20px -2px #c7c7c7;
}

.toast-message {
    font-family: dana;
}

.btns_bottom_replay_message {
    order: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_send_txt i,
.btn_send_file i,
.btn_close_ticket i {
    padding: 0px;
    margin: 0px;
}

.btn_send_file {
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(46, 213, 115);
    padding: 9px;
    width: 63px;
    margin: 0px 3px;
    cursor: pointer;
    box-shadow: 1px 1px 20px -5px rgba(46, 213, 116, 0.66);
}

.btn_send_txt {
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(46, 213, 115);
    padding: 9px;
    width: 63px;
    margin: 0px 3px;
    cursor: pointer;
    box-shadow: 1px 1px 20px -5px rgba(46, 213, 116, 0.718);
}

.btn_close_ticket {
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 67, 64);
    padding: 9px;
    width: 63px;
    margin: 0px 3px;
    cursor: pointer;
    box-shadow: 1px 1px 20px -5px rgba(255, 67, 64, 0.714);
}

.swal2-popup {
    font-family: dana !important;
}

.swal2-actions button {
    font-family: dana !important;
}

.btn_back_site {
    text-decoration: none;
    color: #000;
    margin-left: 19px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    border: none;
    font-family: 'dana';
    font-size: 16px;
    padding: 10px 10px;
    width: 175px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 4px #e4e4e4;
}

.alert-danger {
    display: flex;
    align-items: center;
    background-color: rgb(255 119 119);
    padding: 20px;
    border-radius: 11px;
    border: 1px solid rgb(255, 61, 61);
    width: 85%;
}

.alert-danger span {
    font-family: dana;
    color: #fff;
    display: flex;
    align-items: center;
}

.alert-danger i {
    color: #fff;
    margin-left: 9px;
    font-size: 21px;
}

@font-face {
    font-family: 'dana';
    src: url('../../../assets/fonts/dana-medium.woff') format('woff');
}

;