body {
    background-color: #ECEDEF;
}

main {
    display: flex;
    align-items: start;
}

.right_article {
    margin: 30px 11px;
    /* background-color: #fff; */
    width: 70%;
}

.container_main_right {
    border-radius: 15px;
    background-color: #fff;
    margin: 0px 0px 20px 0px;
    padding-bottom: 20px;
}

.title_article {
    font-family: dana;
    font-size: 30px;
    padding: 30px 20px 25px 0px;
    border-bottom: 2px solid #e9e9e9;
    font-weight: 900;
}

.info_article_header {
    padding: 16px 20px 19px 0px;
    display: flex;
}

.athor_user {
    color: #474747;
    font-family: dana;
    display: flex;
    align-items: center;
    margin: 0px !important;
}

.dropdown_memu_profile_user {
    width: 265px !important;
}


.clender_article span {
    font-family: dana;
    color: #474747;
    padding-right: 10px;
    margin-bottom: -6px;
}

.athor_user span {
    font-family: dana;
    color: #474747;
    padding-right: 10px;
    margin-bottom: -2px;
}

.bx-user {
    color: #474747;
    font-size: 21px;
    padding: 0px 0px 0px 9px;
}

.clender_article {
    color: #474747;
    font-family: dana;
    display: flex;
    align-items: center;
}

.bxs-calendar {
    color: #474747;
    font-size: 21px;
    padding: 0px 0px 0px 9px;
}

.cover_article {
    width: 95%;
    margin: auto;
    display: block;
    border-radius: 15px;
    margin-top: 10px;
}

.description_article {
    font-family: 'dana';
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
    margin: 25px 50px;
}

.left_article {
    width: 30%;
}

.alert-danger {
    display: flex;
    align-items: center;
    background-color: rgb(150 222 255);
    padding: 20px;
    border-radius: 11px;
    border: 1px solid rgb(14, 165, 233);
    width: 85%;
    margin: 0px 0px 20px 0px;
}

.alert-danger span {
    font-family: dana;
    color: #303030;
}

.alert-danger i {
    color: #303030;
    margin-left: 9px;
    font-size: 21px;
    order: -1;
}

.link_short {
    margin: 30px 0px 15px 0px !important;
}

.new_articles {
    background-color: #fff;
    border-radius: 15px;
    padding: 21px;
}

.new_articles h2 {
    font-family: dana;
    font-size: 21px;
    border-right: 10px solid rgb(233, 14, 167);
    border-radius: 4px;
    padding-right: 9px;
    margin: 0px 0px 11px 0px;
}

.container_new_article {
    display: flex;
    flex-direction: column;
}

.container_new_article span {
    color: #303030;
    font-family: dana;
    padding: 20px 0px;
    border-bottom: 1px dashed #303030;
    cursor: pointer;
}

.container_new_article span:last-child {
    border-bottom-width: 0px !important;
    padding-bottom: 0px;
}

.category_articles {
    background-color: #fff;
    border-radius: 15px;
    padding: 21px;
    margin: 10px 0px;
}

.category_articles h2 {
    font-family: dana;
    font-size: 21px;
    border-right: 10px solid rgb(46, 213, 115);
    border-radius: 4px;
    padding-right: 9px;
    margin: 0px 0px 11px 0px;
}

.container_category_article {
    display: flex;
    flex-direction: column;
}

.container_category_article li {
    padding: 20px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container_category_article li span {
    color: #303030;
    font-family: dana;
}

.bxs-left-arrow {
    color: rgb(46, 213, 115);
    margin-left: 9px !important;
}

@media screen and (max-width:400px) {
    main {
        flex-direction: column;
    }

    .right_article {
        width: 100%;
        margin: auto;
    }

    .description_article {
        margin: 25px 25px;
    }

    .left_article {
        width: 100%;
    }

    .athor_user>span {
        font-size: 13px;
        margin-left: 13px;
    }

    .title_article {
        font-size: 20px;
    }
}