.container_panel_user {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: auto;
    margin: 30px;
}

.nav_bar_right {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

.img_cover_panel {
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}

.img_cover_panel_logo {
    width: 90px;
}

.title_logo_cover_panel {
    font-family: dana;
    font-size: 35px;
    padding-right: 10px;
    font-weight: 900;
}

.list_right_menu_panel {
    margin: 30px 0px 0px 0px;
    padding: 5px;
}

.li_menu_right_panel {
    cursor: pointer;
    font-family: 'dana';
    font-size: 19px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 3px;
    border-radius: 9px;
    width: 100%;
}

.li_menu_right_panel a {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.li_menu_right_panel img {
    padding-left: 9px;
}

.body_bar_left {
    background-color: #F3F4F6;
    border-radius: 1rem;
    height: auto;
    width: 77%;
}

.header_body_bar_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px;
}

.header_body_bar_left_left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    order: 1;
}

.circle_header_left_body img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.circle_header_left_body {
    background-color: #fff;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.circle_header_left_body i {
    display: block;
    margin: 11px;
    font-size: 23px;
    color: #4f4f4f;
}

.header_body_bar_left_right {
    width: 80%;
}

.title_body_left_panel {
    font-family: 'dana';
    font-size: 20px;
    padding-right: 40px;
}


.featears_header_body {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

.feather_box {
    width: 150px;
    padding: 11px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'dana';
    cursor: pointer;
}

.feather_box img {
    width: 28px;
    background-color: #ffffff75;
    padding: 7px;
    border-radius: 11px;
}

.txt_featears_box {
    padding-right: 11px;
    font-size: 13px;
}

.txt_featers_box_title {
    padding: 3px 0px;
}

.des_featers_box_title {
    padding: 3px 0px;
}

.bx {
    font-size: 25px;
    padding-left: 9px;
}

/* tickets */

.container_tickets {
    background-color: #fff;
    border-radius: 9px;
    padding: 21px;
    margin: 50px;
}

.header_container_tickets {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid #c6c6c6;
}

.header_container_tickets img {
    margin-right: 20px;
}

.header_container_tickets h2 {
    font-family: dana;
    font-size: 21px;
    padding: 10px 20px 10px 0px;
}

.list_all_tickets {
    padding: 20px 19px;
}

.one_tickets_user {
    color: #fff;
    background-color: #2ED573;
    margin: 10px 0px;
    padding: 15px 11px;
    cursor: pointer;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.id_tickets {
    font-family: dana;
}

.title_tickets {
    font-family: dana;
    width: 300px;
}

.time_tickets {
    font-family: dana;
    background-color: #fff;
    color: #000;
    padding: 9px;
    border-radius: 3px;
    font-size: 13px;
}

.category_tickets {
    font-family: dana;
    background-color: #fff;
    color: #000;
    padding: 9px;
    border-radius: 3px;
    font-size: 13px;
}

.status_tickets {
    font-family: dana;
    background-color: #fff;
    color: #000;
    padding: 9px;
    border-radius: 3px;
    font-size: 13px;
}

.swal2-popup {
    font-family: dana !important;
}

.swal2-actions button {
    font-family: dana !important;
}

.btn_back_site {
    text-decoration: none;
    color: #000;
    margin-left: 19px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    border: none;
    font-family: 'dana';
    font-size: 16px;
    padding: 10px 10px;
    width: 175px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 4px #e4e4e4;
}

@font-face {
    font-family: 'dana';
    src: url('../../../public/assets/fonts/dana-medium.woff') format('woff');
}

;